{{ form_errors(changePasswordForm) }}

{{ form_start(changePasswordForm, {'attr': {'id': 'password-form'}, 'action': path('app_change_password')}) }}

{{ form_row(changePasswordForm.oldPassword) }}
{{ form_row(changePasswordForm.plainPassword) }}


<button type="submit" class="btn">Modifier</button>
{{ form_end(changePasswordForm) }}
