{% extends 'base.html.twig' %}

{% block title %}Proile
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
	<div>
		<img class="avatar" src="https://storage.googleapis.com/lol_guides/lol_guides_user_avatar/{{ user.avatar }}" alt="Avatar"/>
		<h2>{{ user.pseudo }}</h2>
	</div>

	{# Formulaire de modification du Pseudo #}
	{% if user.isVerified %}
		<div class="form-pseudo">
			{{ form_start(changePseudoForm) }}
                {{ form_label(changePseudoForm.newPseudo)}}
                {{ form_widget(changePseudoForm.newPseudo)}}
                {{ form_errors(changePseudoForm.newPseudo)}}
			{{ form_end(changePseudoForm) }}
		</div>
	{% else %}
		<p>Veuillez vérifier votre email pour changer votre pseudo.
			<a href="{{ path('app_verify_newEmail') }}">Renvoyer l'email de confirmation</a>.</p>
		{% if verifyEmail is defined %}
			<p>{{ verifyEmail }}</p>
		{% endif %}
	{% endif %}

{% endblock %}
