<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/main.css') }}">
			<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
		{% endblock %}
		{% block additional_css %}{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar">
				<ul class="navbar-nav">
					<div class="nav-links">
						<li class="nav-item">
							<a href="{{ path('app_home') }}" class="nav-link">HOME</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_guide') }}" class="nav-link">GUIDES</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('new_guide') }}" class="nav-link">CREATION</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_champions') }}" class="nav-link">CHAMPIONS</a>
						</li>
					</div>
					{% if app.user %}
						<div class="nav-auth">
							<li class="nav-item">
								<a href="{{ path('app_profile') }}" class="nav-link">{{ app.user.pseudo }}</a>
							</li>
							<a href="{{ path('app_logout') }}" class="login-link wrapper-logout">
								DECONNEXION
							</a>
						</div>
					{% else %}
						<div class="nav-auth">
							<li class="nav-item">
								<a href="{{ path('app_register') }}" class="nav-link">INSCRIPTION</a>
							</li>
							<a href="{{ path('app_login') }}" class="login-link wrapper">
								LOGIN
							</a>
						</div>
					{% endif %}
				</ul>
				<img class="nav-logo" src="/img/logo.webp" alt="LoLGuides Logo">
			</nav>
		</header>

		<div class="content"> {% block body %}{% endblock %}
			</div>

		</body>
	</html>
