{% extends 'base.html.twig' %}

{% block title %}Guide
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/afficher-guide.css') }}">
{% endblock %}

{% block body %}

	<div class="menu">
		<span class="current" id="menu_commentaires">Commentaires</span>
		<span id="menu_guide">Guide</span>
	</div>

	<div id="guide">

		<div id="introduction">

			<h1>
				{{ guide.champion }}
				{{ guide.voie }}
				-
				{{ guide.titre }}</h1>

		</div>

		<div
			class="runes-sorts-inv">

			{# Section Rune #}
			<section id="Runes" class="runes-container">
				{% set nbGroupesRunes = guide.groupeRunes|length %}
				<div id="pagination">
					{% for i in 1..nbGroupesRunes %}
						<span class="page-number {{ i > 1 ? '' : 'current' }}">{{ i }}</span>
					{% endfor %}
				</div>


				{% for groupeRunes in guide.groupeRunes %}

					<div class="groupe-runes groupe" id="groupeRunes{{ loop.index0 }}" style="{{ loop.index0 > 0 ? 'display: none;' : 'display: flex;' }}">

						<div class="titre">
							<span class="">RUNES :
								{{ groupeRunes.titre }}
							</span>
							{% if groupeRunes.commentaire %}
								<div class="note" title="{{ groupeRunes.commentaire }}">
									<i class="fa-solid fa-pen" style="color: #ffffff;"></i>
									Notes
								</div>
							{% endif %}
						</div>

						<div id="arbre">
							{% set primaire = [] %}
							{% set secondaire = [] %}
							{% set bonus = [] %}
							{% for choixRunesPages in groupeRunes.choixRunesPages %}
								{% for choixArbres in choixRunesPages.choixArbres %}
									{% if choixArbres.type is same as("Primaire") %}
										{% for rune in choixArbres.choixRunes %}
											{% set primaire = primaire|merge([rune]) %}
										{% endfor %}
									{% else %}
										{% for rune in choixArbres.choixRunes %}
											{% set secondaire = secondaire|merge([rune]) %}
										{% endfor %}
									{% endif %}
								{% endfor %}
								{% for choixStatistiquesBonus in choixRunesPages.choixStatistiquesBonus %}
									{% set bonus = bonus|merge([choixStatistiquesBonus]) %}
								{% endfor %}
							{% endfor %}

							<div
								id="Primaire">
								{# Tri et affichage des runes primaires #}
								<div class="type-arbre">
									<span class="rune-arbre-titre">{{ primaire[groupeRunes.ordre].runeArbre }}</span>
									<img src="{{ img_url }}/{{ runes_data[primaire[groupeRunes.ordre].runeArbre].icon}}.webp" alt="{{ runes_data[primaire[groupeRunes.ordre].runeArbre].name }}">
								</div>
								{% for type in ['Primary', 'Secondary1', 'Secondary2', 'Secondary3'] %}
									{% for rune in primaire %}
										{% if rune.runeType == type %}
											<div class="choix-rune" title="{{ runes_data[rune.id].shortDesc|striptags|escape('html_attr') }}">
												<img src="{{ img_url }}/{{ runes_data[rune.id].icon }}.webp" alt="{{ runes_data[rune.id].name }}">
												<span class="rune-titre">{{ runes_data[rune.id].name }}</span>
											</div>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</div>

							<div class="rune-2">
								<div
									id="Secondaire">
									{# Tri et affichage des runes secondaires #}
									<div class="type-arbre">
										<span class="rune-arbre-titre">{{ secondaire[groupeRunes.ordre].runeArbre }}</span>
										<img src="{{ img_url }}/{{ runes_data[secondaire[groupeRunes.ordre].runeArbre].icon}}.webp" alt="{{ runes_data[secondaire[groupeRunes.ordre].runeArbre].name }}">
									</div>
									{% for type in ['Secondary1', 'Secondary2', 'Secondary3'] %}
										{% for rune in secondaire %}
											{% if rune.runeType == type %}
												<div class="choix-rune" title="{{ runes_data[rune.id].shortDesc|striptags|escape('html_attr') }}">
													<img src="{{ img_url }}/{{ runes_data[rune.id].icon }}.webp" alt="{{ runes_data[rune.id].name }}">
													<span class="rune-titre">{{ runes_data[rune.id].name }}</span>
												</div>
											{% endif %}
										{% endfor %}
									{% endfor %}
								</div>

								<div
									id="bonus">
									{# Tri et affichage des bonus #}
									{% for i in 1..3 %}
										{% for bonusData in bonus %}
											{% if bonusData.bonusLine == i %}
												<div class="choix-rune">
													<img src="{{ img_url }}/{{ bonusData.icon }}.webp" alt="{{ bonusData.bonusValue }}">
													<span class="rune-titre">{{ bonusData.bonusValue }}</span>
												</div>
											{% endif %}
										{% endfor %}
									{% endfor %}
								</div>
							</div>
						</div>

					</div>
				{% endfor %}

			</section>

			{# Secion Sort d'invocateur #}
			<section id="SortInvocateur">

				{% set nbGroupesSI = guide.groupeSortsInvocateur|length %}
				<div id="pagination">
					{% for i in 1..nbGroupesSI %}
						<span class="page-number {{ i > 1 ? '' : 'current' }}">{{ i }}</span>
					{% endfor %}
				</div>

				{% for groupeSortsInvocateur in guide.groupeSortsInvocateur %}
					<div class="groupeSI groupe" id="groupeSortInvocateur{{ loop.index0 }}" style="{{ loop.index0 > 0 ? 'display: none;' : 'display: flex;' }}">

						<div class="titre">
							<span class="">SORTS :
								{{ groupeSortsInvocateur.titre }}
							</span>
							{% if groupeSortsInvocateur.commentaire %}
								<div class="note" title="{{ groupeSortsInvocateur.commentaire }}">
									<i class="fa-solid fa-pen" style="color: #ffffff;"></i>
									Notes
								</div>
							{% endif %}
						</div>

						<div class="choixSI">
							{% for choixSortInvocateur in groupeSortsInvocateur.choixSortInvocateur %}
								<div title="{{ list_sorts_invocateur[choixSortInvocateur.id].description|striptags|escape('html_attr') }}">
									<img src="{{ img_url }}/spell/{{ list_sorts_invocateur[choixSortInvocateur.id].image }}.webp" alt="{{ list_sorts_invocateur[choixSortInvocateur.id].name }}">
								</div>
							{% endfor %}
						</div>

					</div>
				{% endfor %}

			</section>
		</div>

		{# Secion Item #}

		<section id="Items">

			{% for groupeEnsemblesItems in guide.groupeEnsemblesItems %}

				<div class="groupe-ensemble" id="ensemble">

					<div class="titre-ensemble">ENSEMBLE :
						{{ groupeEnsemblesItems.titre }}</div>

					{% for itemsGroups in groupeEnsemblesItems.associationsEnsemblesItemsGroups %}

						<div class="groupe-items" id="groupeItems">

							<div class="titre-groupe">
								<span class="">ITEMS :
									{{ itemsGroups.titre }}
								</span>
								{% if itemsGroups.commentaire %}
									<div class="note" title="{{ itemsGroups.commentaire }}">
										<i class="fa-solid fa-pen" style="color: #ffffff;"></i>
										Notes
									</div>
								{% endif %}
							</div>

							{% set ordreItems = itemsGroups.ordreItems|sort %}
							{% set trieItems = {} %}
							{% for id in ordreItems|keys %}
								{% for choixItems in itemsGroups.choixItems %}
									{% if choixItems.id is same as(id) %}
										{% set trieItems = trieItems|merge([choixItems]) %}
									{% endif %}
								{% endfor %}
							{% endfor %}
							<div class="choix-items">
								{% for choixItems in trieItems %}
									<span class="item" title="{{ list_items[choixItems.id].description|striptags|escape('html_attr') }}">
										<img src="{{ img_url }}/item/{{ list_items[choixItems.id].image }}.webp" alt="{{ list_items[choixItems.id].name }}">
										<span></span>
									</span>
								{% endfor %}
							</div>

						</div>

					{% endfor %}

				</div>

			{% endfor %}

		</section>

		{# Sectin compétence #}
		<section id="Competences">

			{% set nbGroupesCompetences = guide.groupesCompetences|length %}
			<div id="pagination">
				{% for i in 1..nbGroupesCompetences %}
					<span class="page-number {{ i > 1 ? '' : 'current' }}">{{ i }}</span>
				{% endfor %}
			</div>

			{% for groupesCompetences in guide.groupesCompetences %}

				<div class="groupe-competences groupe" id="groupeCompetences{{ loop.index0 }}" style="{{ loop.index0 > 0 ? 'display: none;' : 'display: flex;' }}">

					<div class="titre">
						<span class="">COMPETENCES :
							{{ groupesCompetences.titre }}
						</span>
						{% if groupesCompetences.commentaire %}
							<div class="note" title="{{ groupesCompetences.commentaire }}">
								<i class="fa-solid fa-pen" style="color: #ffffff;"></i>
								Notes
							</div>
						{% endif %}
					</div>

					<div class="competence-passive">
						<div title="{{ champion.passive.description }}">
							<img src="{{ img_url }}/passive/{{ champion.passive.image.full }}.webp" alt="{{ champion.passive.name }}">
						</div>
						Compétence passive :
						{{ champion.passive.name }}
					</div>

					{% for choixCompetencesNiveaux in groupesCompetences.choixCompetencesNiveaux %}

						<div class="competence">
							{% set index = loop.index0 %}

							{% for competence in choixCompetencesNiveaux.competences %}
								<div class="comp" title="{{ champion.spells[index].description }}">
									<img src="{{ img_url }}/spell/{{ champion.spells[index].image.full }}.webp" alt="{{ champion.spells[index].name }}">
									<span>{{ champion.spells[index].name }}</span>
								</div>

								<div class="niveaux">
									{% for niveau in 1..18 %}
										<div class="case{% if niveau in choixCompetencesNiveaux.niveaux %} active{% endif %}">
											{% if niveau in choixCompetencesNiveaux.niveaux %}
												<span>{{ niveau }}</span>
											{% endif %}
										</div>
									{% endfor %}
								</div>

							{% endfor %}
						</div>

					{% endfor %}

				</div>

			{% endfor %}

		</section>
	</div>

	<div id="commentaire-container">

		{{ form_start(commentaireForm, {'attr': {'id': 'commentaire-form'}}) }}
		{{ form_label(commentaireForm.commentaire) }}
		{{ form_errors(commentaireForm.commentaire) }}
		<div class="text-validation">
			{{ form_widget(commentaireForm.commentaire) }}
			{{ form_row(commentaireForm.submit) }}
		</div>

		<div id="characterCount">0/500</div>
		<div id="form-errors"></div>
		{{ form_end(commentaireForm) }}

		<div id="commentaires-users">
			{{ knp_pagination_render(evaluations) }}
			{% if evaluations %}
				{% for evaluation in evaluations %}
					<div class="commentaire">
						<img src="https://storage.googleapis.com/lol_guides/lol_guides_user_avatar/{{ evaluation.user.avatar }}" alt="Avatar de {{ evaluation.user.pseudo }}" class="avatar">
						<div class="commentaire-details">
							<div class="flex">
								<div class="pseudo">{{ evaluation.user.pseudo }}</div>
								|
								<div class="date">{{ evaluation.createdAt|date('d F Y à H:\i') }}</div>
							</div>
							<div class="texte">{{ evaluation.commentaire }}</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div>Pas de commentaire</div>
			{% endif %}
			{{ knp_pagination_render(evaluations) }}
		</div>
	</div>

	<script src="{{ asset('js/afficherGuide.js') }}"></script>
{% endblock %}
