{% extends 'base.html.twig' %}

{% block title %}Créer un guide
{% endblock %}

{% block body %}

	{{ form_start(form) }}
	<div>
		{{ form_label(form.titre)}}
		{{ form_widget(form.titre)}}
		{{ form_errors(form.titre)}}
	</div>

	<div>
		{{ form_label(form.voie)}}
		{{ form_widget(form.voie)}}
		{{ form_errors(form.voie)}}
	</div>
    {# {{ form_row(form.champion) }} #}

	<div>
		<fieldset>
			<legend>Champion</legend>
			{% for champion in champions %}
				<input type="radio" id="{{ champion.idChamp }}" name="champion" value="{{ champion.idChamp }}"/>
				<label for="{{ champion.idChamp }}"><img style="width: 40px; height: auto;" src="{{ img }}/champion/{{ champion.image.full }}" alt="{{ champion.name }}">{{ champion.name }}</label>
			{% endfor %}
		</fieldset>
	</div>
	{{ form_end(form) }}

{% endblock %}
