{% extends 'base.html.twig' %}

{% block title %}Créer un guide
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/guide.css') }}">
{% endblock %}

{% block body %}

	<div class="new-guide-sidebar">
		<span id="sidebar-config" class="current">Configuration</span>
		<span id="sidebar-builder">Construction</span>
	</div>

	<div class="new-guide-config">
		{{ form_start(form) }}
		{# Ajout d'un titre #}
		<div class="title-guide">
			{{ form_label(form.titre)}}
			{{ form_widget(form.titre)}}
			{{ form_errors(form.titre)}}
		</div>

		{# Choix du rôle #}
		<div class="role-guide">
			{{ form_label(form.voie)}}
			{{ form_widget(form.voie)}}
			{{ form_errors(form.voie)}}
		</div>

		{# Choix du Champion #}
		<div class="champion-guide">
			<div style="display:flex; flex-wrap: wrap; width: 60%; height: 200px; overflow: auto;">
				{% for choice in form.champion %}
					<div>
						{{ form_widget(choice, {'id': choice.vars.value }) }}
						{# génère le bouton radio #}
						<label for="{{ choice.vars.value }}">
							<img style="width: 40px; height: auto" src="{{ img_url }}/champion/{{ champions[choice.vars.value].image }}" alt="{{ champions[choice.vars.value].name }}">
						</label>
					</div>
				{% endfor %}
			</div>
			{# affiche les erreurs #}
			{{ form_errors(form.champion) }}
		</div>
	</div>

	<div class="new-guide-builder">

		{# Choix des summoner spells #}
		<div id="groupeSortsInvocateurContainer"></div>
		<button id="loadGroupeSortsInvocateur">Sorts d'Invocateur</button>

		{# Choix des runes #}

		<div style="display:flex; flex-wrap: wrap; gap: 50px">
			{% for arbre in runes %}
				<div style="display:flex; flex-direction: column">
					<div><img style="width: 40px; height: auto" src="{{ img_url }}/{{ arbre.icon }}" alt="{{ arbre.name }}">{{ arbre.name }}</div>
					<div>
						{% for runes_type in arbre.slots %}
							<ul style="display:flex; flex-wrap: wrap; gap: 20px; list-style: none;">
								{% for rune in runes_type.runes %}
									<li><img style="width: 40px; height: auto" src="{{ img_url }}/{{ rune.icon }}" alt="{{ rune.name }}">{{ rune.name }}</li>
								{% endfor %}
							</ul>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>

		{{ form_widget(form._token) }}
		<button type="submit" id="guide_Valider" name="guide[Valider]">Publier le guide</button>
	</form>
</div>

<script src="{{ asset('js/guide.js') }}"></script>{% endblock %}
