{% extends 'base.html.twig' %}

{% block title %}Créer un guide
{% endblock %}

{% block body %}

	{{ form_start(form) }}
	<div>
		{{ form_label(form.titre)}}
		{{ form_widget(form.titre)}}
		{{ form_errors(form.titre)}}
	</div>

	<div>
		{{ form_label(form.voie)}}
		{{ form_widget(form.voie)}}
		{{ form_errors(form.voie)}}
	</div>

	<div style="display:flex; flex-wrap: wrap">
		{{ form_label(form.champion) }}
		
		{% for choice in form.champion %}
			<div>
				{{ form_widget(choice, {'id': champions[choice.vars.value].idChamp }) }}
				{# génère le bouton radio #}
				<label for="{{ champions[choice.vars.value].idChamp }}">
					<img src="{{ img_url }}/champion/{{ champions[choice.vars.value].image.full }}" alt="{{ champions[choice.vars.value].name }}">
				</label>
			</div>
		{% endfor %}

		{{ form_errors(form.champion) }}
		{# affiche les erreurs #}
	</div>

	{{ form_end(form) }}


{% endblock %}
