{% extends 'base.html.twig' %}

{% block title %}Créer un guide
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/guide.css') }}">
{% endblock %}

{% block body %}

	<div
		id="new-guide">

		{# Sidebar #}
		<div class="new-guide-sidebar">
			<div class="new-guide-sidebar__header">
				Création d'un guide
			</div>
			<div class="new-guide-sidebar__nav">
				<span id="nav-config" class="current">Configuration</span>
				<span id="nav-builder">Construction</span>
			</div>
			<div class="new-guide-sidebar_actions">
				<span class="flat-btn split" id="action-sauvegarder">Sauvegarder</span>
				<span class="flat-btn split margin-left-2" id="action-previsualisation">Prévisualisation</span>
				<span class="flat-btn full" id="action-publier">Publier</span>
			</div>
		</div>

		{{ form_start(form) }}
		{# Container de la première partie du guide (configuration) #}
		<div
			class="new-guide-config">
			{# Ajout d'un titre #}
			<div class="new-guide-config__title">
				{{ form_label(form.titre)}}
				{{ form_widget(form.titre)}}
				{{ form_errors(form.titre)}}
			</div>

			{# Choix du rôle #}
			<div class="new-guide-config__role">
				{{ form_label(form.voie)}}
				{{ form_widget(form.voie)}}
				{{ form_errors(form.voie)}}
			</div>

			{# Choix du Champion #}
			<div class="new-guide-config__champion">
				<div style="display:flex; flex-wrap: wrap; width: 60%; height: 200px; overflow: auto;">
					{% for choice in form.champion %}
						<div>
							{{ form_widget(choice, {'id': choice.vars.value }) }}
							{# génère le bouton radio #}
							<label for="{{ choice.vars.value }}">
								<img style="width: 40px; height: auto" src="{{ img_url }}/champion/{{ champions[choice.vars.value].image }}" alt="{{ champions[choice.vars.value].name }}">
							</label>
						</div>
					{% endfor %}
				</div>
				{# affiche les erreurs #}
				{{ form_errors(form.champion) }}
			</div>
		</div>

		<div class="new-guide-builder">

			<div class="new-guide-builder__menu">
				<span id="menu-sorts-invocateur" class="current">Sorts d'invocateur</span>
				<span id="menu-items">Items</span>
				<span id="menu-competences">Compétences</span>
				<span id="menu-runes">Runes</span>
				<span id="menu-counters">Counters</span>
				<span id="menu-synergies">Synergies</span>
			</div>

			{# Choix des summoner spells #}
			<div class="new-guide-builder__sorts-invocateur-container current"></div>

			{# Choix des items #}
			<div class="new-guide-builder__items-container"></div>

			{# Choix des compétences #}
			<div class="new-guide-builder__competences-container"></div>

			{# Choix des runes #}
			<div class="new-guide-builder__runes-container"></div>

			{# Choix des counters #}
			<div class="new-guide-builder__counters-container"></div>

			{# Choix des synergies #}
			<div class="new-guide-builder__synergies-container"></div>

		</div>

		{{ form_widget(form._token) }}
		<button type="submit" id="guide_Valider" name="guide[Valider]">Publier le guide</button>

	</form>

</div>

<script src="{{ asset('js/guide.js') }}"></script>{% endblock %}
