{% if forms is defined %}

	{% for form in forms %}

		<div class="new-guide__block" id="{{ form.vars.id }}">
			<i class="fa-regular fa-trash-can supprimer-groupe"></i>
			{# supprime l'ensemble #}
			<div class="baniere-groupe handle">
				<i class="fa-solid fa-arrows-up-down-left-right" style="color: #9ca7ba;"></i>
			</div>
			<div class="ensemble">
				<div
					class="titre-groupe">
					{# titre ensemble #}
					{{ form_widget(form.titre) }}
					{{ form_errors(form.titre) }}
				</div>
				<div class="ensemble-content">
					{{ form_widget(form.ordre) }}

					<ul class="sortable-list">
						{% for groupeItems in form.associationsEnsemblesItemsGroups %}
							<li class="groupe-item">
								<div class="baniere-groupe-items handle">
									<i class="fa-solid fa-arrows-up-down-left-right" style="color: #9ca7ba;"></i>
								</div>

								<div class="groupe-content-liste-items open">

									{{ form_widget(groupeItems.ordre) }}
									<div id="selectedItem">
										<div class="copie-item"></div>
										<div class="copie-item"></div>
										<div class="copie-item"></div>
									</div>

									<div class="groupe-content open">
										<div class="checkbox checkbox-items">
											{% for item in groupeItems.choixItems %}
												{% if list_items[item.vars.value].inStore %}
													<div class="item" data-tags="{{ list_items[item.vars.value].tags|join(',') }}">
														{{ form_widget(item) }}
														{{ form_errors(item) }}
														<label for="guide_groupeEnsemblesItems_{{ form.vars.name }}_associationsEnsemblesItemsGroups_{{groupeItems.vars.name}}_choixItems_{{ item.vars.name }}">
															<img src="{{ img_url }}/item/{{ list_items[item.vars.value].image }}.webp" alt="{{ list_items[item.vars.value].name }}">
														</label>
														<span>{{ list_items[item.vars.value].name }}</span>
														<p>{{ list_items[item.vars.value].gold['total'] }}</p>
														<input type="number" id="guide_groupeEnsemblesItems_{{ form.vars.name }}_associationsEnsemblesItemsGroups_{{ groupeItems.vars.name }}_ordreItems_{{ item.vars.name }}" name="guide[groupeEnsemblesItems][{{ form.vars.name }}][associationsEnsemblesItemsGroups][{{ groupeItems.vars.name }}][ordreItems][{{ item.vars.value }}]" class="ordre-item">
													</div>
												{% endif %}
											{% endfor %}
										</div>

										<div class="commentaire">
											{{ form_widget(groupeItems.commentaire) }}
											{{ form_errors(groupeItems.commentaire) }}
										</div>
									</div>
								</div>

								<div class="titre-groupe-item">
									{{ form_widget(groupeItems.titre) }}
									{{ form_errors(groupeItems.titre) }}
								</div>

								<i class="fa-regular fa-trash-can supprimer-itemsGroupe"></i>

							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<span class="flat-btn add-items btn-absolute">Ajouter d'un groupe d'Items</span>
		</div>

	{% endfor %}

{% else %}

	<div class="new-guide__block" id="{{ form.vars.id }}">
		<i class="fa-regular fa-trash-can supprimer-groupe"></i>
		{# supprime l'ensemble #}
		<div class="baniere-groupe handle">
			<i class="fa-solid fa-arrows-up-down-left-right" style="color: #9ca7ba;"></i>
		</div>
		<div class="ensemble">
			<div
				class="titre-groupe">
				{# titre ensemble #}
				{{ form_widget(form.titre) }}
			</div>
			<div class="ensemble-content">
				{{ form_widget(form.ordre) }}

				<ul class="sortable-list">
					{% for groupeItems in form.associationsEnsemblesItemsGroups %}
						<li class="groupe-item">
							<div class="baniere-groupe-items handle">
								<i class="fa-solid fa-arrows-up-down-left-right" style="color: #9ca7ba;"></i>
							</div>

							<div class="groupe-content-liste-items open">

								{{ form_widget(groupeItems.ordre) }}
								<div id="selectedItem">
									<div class="copie-item"></div>
									<div class="copie-item"></div>
									<div class="copie-item"></div>
								</div>

								<div class="groupe-content open">
									<div class="checkbox checkbox-items">
										{% for item in groupeItems.choixItems %}
											{% if list_items[item.vars.value].inStore %}
												<div class="item" data-tags="{{ list_items[item.vars.value].tags|join(',') }}">
													{{ form_widget(item) }}
													<label for="guide_groupeEnsemblesItems_{{ form.vars.name }}_associationsEnsemblesItemsGroups_{{groupeItems.vars.name}}_choixItems_{{ item.vars.name }}">
														<img src="{{ img_url }}/item/{{ list_items[item.vars.value].image }}.webp" alt="{{ list_items[item.vars.value].name }}">
													</label>
													<span>{{ list_items[item.vars.value].name }}</span>
													<p>{{ list_items[item.vars.value].gold['total'] }}</p>
													<input type="number" id="guide_groupeEnsemblesItems_{{ form.vars.name }}_associationsEnsemblesItemsGroups_{{ groupeItems.vars.name }}_ordreItems_{{ item.vars.name }}" name="guide[groupeEnsemblesItems][{{ form.vars.name }}][associationsEnsemblesItemsGroups][{{ groupeItems.vars.name }}][ordreItems][{{ item.vars.value }}]" class="ordre-item">
												</div>
											{% endif %}
										{% endfor %}
									</div>

									<div class="commentaire">
										{{ form_widget(groupeItems.commentaire) }}
									</div>
								</div>
							</div>

							<div class="titre-groupe-item">
								{{ form_widget(groupeItems.titre) }}
							</div>

							<i class="fa-regular fa-trash-can supprimer-itemsGroupe"></i>

						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<span class="flat-btn add-items btn-absolute">Ajouter d'un groupe d'Items</span>
	</div>

{% endif %}
