{% if forms is defined %}

	{% for form in forms %}

		<div class="new-guide__block" id="{{ form.vars.id }}">
			<div class="ensemble">
				<h2>Ensemble</h2>
				Titre du groupe
				{{ form_widget(form.titre) }}

				{{ form_label(form.ordre) }}
				{{ form_widget(form.ordre) }}

				<ul class="sortable-list">
					{% for groupeItems in form.associationsEnsemblesItemsGroups %}
						<li class="groupe-item">
							<h2>Items</h2>
							{{ form_label(groupeItems.titre) }}
							{{ form_widget(groupeItems.titre) }}

							{{ form_label(groupeItems.commentaire) }}
							{{ form_widget(groupeItems.commentaire) }}

							{{ form_label(groupeItems.ordre) }}
							{{ form_widget(groupeItems.ordre) }}

							<div style="display:flex; flex-wrap: wrap; width: 60%; height: 200px; overflow: auto;">
								{% for item in groupeItems.choixItems %}
									<div class="item">
										{{ form_widget(item, {'id': item.vars.value  ~ '-set' ~ form.vars.name ~ '-group' ~ groupeItems.vars.name }) }}
										<label for="{{ item.vars.value }}-set{{ form.vars.name }}-group{{ groupeItems.vars.name }}">
											<img style="width: 40px; height: auto;" src="{{ img_url }}/item/{{ list_items[item.vars.value].image }}" alt="{{ list_items[item.vars.value].name }}">
										</label>
									</div>
								{% endfor %}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<span class="flat-btn add-items">Ajouter d'un groupe d'Items</span>
		</div>

	{% endfor %}

{% else %}

	<div class="new-guide__block" id="{{ form.vars.id }}">
		<div class="ensemble">
			<h2>Ensemble</h2>
			Titre du groupe
			{{ form_widget(form.titre) }}

			{{ form_label(form.ordre) }}
			{{ form_widget(form.ordre) }}

			<ul class="sortable-list">
				<li class="item">
					<h2>Items</h2>
					{% for groupeItems in form.associationsEnsemblesItemsGroups %}
						<div class="groupe-item">
							{{ form_label(groupeItems.titre) }}
							{{ form_widget(groupeItems.titre) }}

							{{ form_label(groupeItems.commentaire) }}
							{{ form_widget(groupeItems.commentaire) }}

							{{ form_label(groupeItems.ordre) }}
							{{ form_widget(groupeItems.ordre) }}

							<div style="display:flex; flex-wrap: wrap; width: 60%; height: 200px; overflow: auto;">
								{% for item in groupeItems.choixItems %}
									<div class="item">
										{{ form_widget(item, {'id': item.vars.value  ~ '-set' ~ form.vars.name ~ '-group' ~ groupeItems.vars.name }) }}
										<label for="{{ item.vars.value }}-set{{ form.vars.name }}-group{{ groupeItems.vars.name }}">
											<img style="width: 40px; height: auto;" src="{{ img_url }}/item/{{ list_items[item.vars.value].image }}" alt="{{ list_items[item.vars.value].name }}">
										</label>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</li>
			</ul>
		</div>
		<span class="flat-btn add-items">Ajouter d'un groupe d'Items</span>
	</div>

{% endif %}
