<div class="new-guide__block">
	{% for groupeCompetences in form.groupesCompetences %}

		<div>
			{{ form_label(groupeCompetences.titre) }}
			{{ form_widget(groupeCompetences.titre) }}
		</div>

		<div>
			{{ form_label(groupeCompetences.commentaire) }}
			{{ form_widget(groupeCompetences.commentaire) }}
		</div>

		<div>
			{{ form_label(groupeCompetences.ordre) }}
			{{ form_widget(groupeCompetences.ordre) }}
		</div>

		<div class="competence">
			<img src="{{ img_url }}/passive/{{ champ.passive.image.full }}" alt="{{ champ.passive.name }}">
			Compétence passive :
			{{ champ.passive.name }}
		</div>

		{% set letterMap = {'A': 'Q', 'Z': 'W', 'E': 'E', 'R': 'R'} %}
		{% set spellIndex = 0 %}

		{# Accédez au sous-formulaire competences #}
		{% set competencesForm = groupeCompetences.competence %}

		{# Boucle sur les champs des compétences #}
		{% for competenceType, competenceField in competencesForm %}
			{# On vérifie si le champ est une instance de ChoiceType #}
			{% if competenceField.vars.block_prefixes is defined and 'choice' in competenceField.vars.block_prefixes %}
				{% set letter = letterMap[competenceField.vars.name] %}
				<div class="competence">
					<img src="{{ img_url }}/spell/{{ champ.spells[spellIndex].image.full }}" alt="{{ champ.spells[spellIndex].name }}">
					{{ form_label(competenceField) }}
					{{ form_widget(competenceField) }}
				</div>
				{% set spellIndex = spellIndex + 1 %}
			{% endif %}
		{% endfor %}

	{% endfor %}
</div>
