{% if forms is defined %}
	{% for form in forms %}

		<div class="new-guide__block" id="{{ form.vars.id }}">
			<div class="baniere-groupe handle">
				<i class="fa-solid fa-arrows-up-down-left-right" style="color: #9ca7ba;"></i>
			</div>
			<div class="groupe-content open">

				{{ form_widget(form.ordre) }}

				<div class="liste-competences">
					<div class="competence-passive">
						<img src="{{ img_url }}/passive/{{ champ.passive.image.full }}.webp" alt="{{ champ.passive.name }}">
						Compétence passive :
						{{ champ.passive.name }}
					</div>

					{% set letterMap = {'A': 'Q', 'Z': 'W', 'E': 'E', 'R': 'R'} %}
					{% set spellIndex = 0 %}

					{# Accédez au sous-formulaire competences #}
					{% set competencesForm = form.competence %}

					{# Boucle sur les champs des compétences #}
					{% for competenceField in competencesForm %}
						{# On vérifie si le champ est une instance de ChoiceType #}
						{% if competenceField.vars.block_prefixes is defined and 'choice' in competenceField.vars.block_prefixes %}
							<div class="competence">
								<img src="{{ img_url }}/spell/{{ champ.spells[spellIndex].image.full }}.webp" alt="{{ champ.spells[spellIndex].name }}">
								{{ form_label(competenceField) }}
								<div class="competence-titre-checkbox">
									<div class="competence-titre">
										<h3>{{ champ.spells[spellIndex].name }}</h3>
									</div>
									<div class="competence-choix-checkbox">
										{{ form_widget(competenceField) }}
									</div>
								</div>
							</div>
							{% set spellIndex = spellIndex + 1 %}
						{% endif %}
					{% endfor %}
				</div>

				<div class="commentaire">
					{{ form_widget(form.commentaire) }}
				</div>

			</div>
			<div class="titre-groupe">
				{{ form_widget(form.titre) }}
			</div>
			<i class="fa-regular fa-trash-can supprimer-groupe"></i>
		</div>


	{% endfor %}

{% else %}

	<div class="new-guide__block" id="{{ form.vars.id }}">
		<div class="baniere-groupe handle">
			<i class="fa-solid fa-arrows-up-down-left-right" style="color: #9ca7ba;"></i>
		</div>
		<div class="groupe-content open">

			{{ form_widget(form.ordre) }}

			<div class="liste-competences">
				<div class="competence-passive">
					<img src="{{ img_url }}/passive/{{ champ.passive.image.full }}.webp" alt="{{ champ.passive.name }}">
					Compétence passive :
					{{ champ.passive.name }}
				</div>

				{% set letterMap = {'A': 'Q', 'Z': 'W', 'E': 'E', 'R': 'R'} %}
				{% set spellIndex = 0 %}

				{# Accédez au sous-formulaire competences #}
				{% set competencesForm = form.competence %}

				{# Boucle sur les champs des compétences #}
				{% for competenceField in competencesForm %}
					{# On vérifie si le champ est une instance de ChoiceType #}
					{% if competenceField.vars.block_prefixes is defined and 'choice' in competenceField.vars.block_prefixes %}
						<div class="competence">
							<img src="{{ img_url }}/spell/{{ champ.spells[spellIndex].image.full }}.webp" alt="{{ champ.spells[spellIndex].name }}">
							{{ form_label(competenceField) }}
							<div class="competence-titre-checkbox">
								<div class="competence-titre">
									<h3>{{ champ.spells[spellIndex].name }}</h3>
								</div>
								<div class="competence-choix-checkbox">
									{{ form_widget(competenceField) }}
								</div>
							</div>
						</div>
						{% set spellIndex = spellIndex + 1 %}
					{% endif %}
				{% endfor %}
			</div>

			<div class="commentaire">
				{{ form_widget(form.commentaire) }}
			</div>

		</div>
		<div class="titre-groupe">
			{{ form_widget(form.titre) }}
		</div>
		<i class="fa-regular fa-trash-can supprimer-groupe"></i>
	</div>

{% endif %}
