<div class="new-guide__block" style="display:flex; flex-wrap: wrap; gap: 50px">
	{% for arbre in runes %}
		<div style="display:flex; flex-direction: column">
			<div><img style="width: 40px; height: auto" src="{{ img_url }}/{{ arbre.icon }}" alt="{{ arbre.name }}">{{ arbre.name }}</div>
			<div>
				{% for runes_type in arbre.slots %}
					<ul style="display:flex; flex-wrap: wrap; gap: 20px; list-style: none;">
						{% for rune in runes_type.runes %}
							<li><img style="width: 40px; height: auto" src="{{ img_url }}/{{ rune.icon }}" alt="{{ rune.name }}">{{ rune.name }}</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>
