<li class="groupe-item">
	<div class="baniere-groupe-items handle">
		<i class="fa-solid fa-arrows-up-down-left-right" style="color: #9ca7ba;"></i>
	</div>

	<div class="groupe-content-liste-items open">

		{{ form_widget(form.ordre) }}
		<div id="selectedItem">
			<div class="copie-item"></div>
			<div class="copie-item"></div>
			<div class="copie-item"></div>
		</div>

		<div class="groupe-content open">
			<div class="checkbox checkbox-items">
				{% for item in form.choixItems %}
					{% if list_items[item.vars.value].inStore %}
						<div class="item" data-tags="{{ list_items[item.vars.value].tags|join(',') }}">
							{{ form_widget(item, {'id': 'guide_groupeEnsemblesItems_' ~ form.parent.parent.vars.name ~ '_associationsEnsemblesItemsGroups_' ~ form.vars.name ~ '_choixItems_' ~ item.vars.value}) }}
							<label for="guide_groupeEnsemblesItems_{{ form.parent.parent.vars.name }}_associationsEnsemblesItemsGroups_{{form.vars.name}}_choixItems_{{ item.vars.value }}">
								<img src="{{ img_url }}/item/{{ list_items[item.vars.value].image }}.webp" alt="{{ list_items[item.vars.value].name }}">
							</label>
							<span>{{ list_items[item.vars.value].name }}</span>
							<p>{{ list_items[item.vars.value].gold['total'] }}</p>
							<input type="number" id="guide_groupeEnsemblesItems_{{ form.parent.parent.vars.name }}_associationsEnsemblesItemsGroups_{{ form.vars.name }}_ordreItem_{{ item.vars.value }}" name="guide[groupeEnsemblesItems][{{ form.parent.parent.vars.name }}][associationsEnsemblesItemsGroups][{{ form.vars.name }}][ordreItem][{{ item.vars.value }}]" class="ordre-item">
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<div class="commentaire">
				{{ form_widget(form.commentaire) }}
			</div>
		</div>
	</div>

	<div class="titre-groupe-item">
		{{ form_widget(form.titre) }}
	</div>

	<i class="fa-regular fa-trash-can supprimer-itemsGroupe"></i>

</li>
