{% if forms is defined %}

	{% for form in forms %}

		<div class="new-guide__block" id="{{ form.vars.id }}">
			<div class="titre-groupe">
				{{ form_label(form.titre) }}
				{{ form_widget(form.titre) }}
			</div>
			<div class="groupe-content">
				<div>
					{{ form_label(form.commentaire) }}
					{{ form_widget(form.commentaire) }}
				</div>

				{{ form_widget(form.ordre) }}

				<div style="display:flex; flex-wrap: wrap">
					{% for choice in form.choixSortInvocateur %}
						<div>
							{{ form_widget(choice, {'id': 'guide[groupeSortsInvocateur][' ~ form.vars.name ~ ']' ~ choice.vars.value }) }}
							<label for="guide[groupeSortsInvocateur][{{ form.vars.name }}]{{ choice.vars.value }}">
								<img src="{{ img_url }}/spell/{{ list_sorts_invocateur[choice.vars.value].image }}.webp" alt="{{ list_sorts_invocateur[choice.vars.value].name }}">
							</label>
						</div>
					{% endfor %}
				</div>

			</div>
			<span class="flat-btn supprimer-groupe">Supprimer</span>
		</div>

	{% endfor %}

{% else %}

	<div class="new-guide__block" id="{{ form.vars.id }}">
		<div class="titre-groupe">
			{{ form_label(form.titre) }}
			{{ form_widget(form.titre) }}
		</div>
		<div class="groupe-content">
			<div>
				{{ form_label(form.commentaire) }}
				{{ form_widget(form.commentaire) }}
			</div>

			{{ form_widget(form.ordre) }}

			<div style="display:flex; flex-wrap: wrap">
				{% for choice in form.choixSortInvocateur %}
					<div>
						{{ form_widget(choice, {'id': 'guide[groupeSortsInvocateur][' ~ form.vars.name ~ ']' ~ choice.vars.value }) }}
						<label for="guide[groupeSortsInvocateur][{{ form.vars.name }}]{{ choice.vars.value }}">
							<img src="{{ img_url }}/spell/{{ list_sorts_invocateur[choice.vars.value].image }}.webp" alt="{{ list_sorts_invocateur[choice.vars.value].name }}">
						</label>
					</div>
				{% endfor %}
			</div>

		</div>
		<span class="flat-btn supprimer-groupe">Supprimer</span>
	</div>


{% endif %}
