{% if forms is defined %}

	{% for form in forms %}

		<div class="new-guide__block" id="{{ form.vars.id }}">

			<div class="titre-groupe">
				{{ form_label(form.titre) }}
				{{ form_widget(form.titre) }}
			</div>
			<div class="groupe-content">
				<div>
					{{ form_label(form.commentaire) }}
					{{ form_widget(form.commentaire) }}
				</div>

				{{ form_widget(form.ordre) }}

				{% set arbres_list = ['Domination', 'Inspiration', 'Precision', 'Resolve', 'Sorcery'] %}

				{% for arbre_name in arbres_list %}
					<div id="{{ form.vars.id ~ '_' ~ arbre_name }}">
						{{ form_widget(attribute(form, arbre_name).typeArbre) }}
						<img class="arbre" data-name="{{ arbre_name }}" style="width: 40px; height: auto" src="{{ img_url }}/{{ runes_data[arbre_name].icon }}.webp" alt="{{ runes_data[arbre_name].name }}">{{ runes_data[arbre_name].name }}
						<div class="runes-options" style="display: none">
							{% for arbre in attribute(form, arbre_name) %}
								{% if loop.index0 > 0 %}
									<div>
										{% if "Secondary" in arbre.vars.name %}
											{% set number = arbre.vars.name|slice(-1) %}
										{% else %}
											{% set number = arbre.vars.name %}
										{% endif %}


										{% for rune in arbre %}
											{{ form_widget(rune, {'id': rune.vars.id}) }}
											<label for="{{ rune.vars.id }}">
												<img style="width: 40px; height: auto" src="{{ img_url }}/{{ runes_data[arbre_name].slots[number].runes[loop.index0].icon }}.webp" alt="{{ runes_data[arbre_name].slots[number].runes[loop.index0].name }}">
											</label>
										{% endfor %}
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				{% endfor %}

				{# Options pour les lignes de bonus #}
				<div class="bonus-lines">
					{% for line in 1..3 %}
						<div class="bonus-line">
							{{ form_label(attribute(form, 'bonusLine' ~ line)) }}
							<div>
								{{ form_widget(attribute(form, 'bonusLine' ~ line)) }}
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
			<i class="fa-regular fa-trash-can supprimer-groupe"></i>
		</div>


	{% endfor %}

{% else %}


	<div class="new-guide__block" id="{{ form.vars.id }}">

		<div class="titre-groupe">
			{{ form_label(form.titre) }}
			{{ form_widget(form.titre) }}
		</div>
		<div class="groupe-content">
			<div>
				{{ form_label(form.commentaire) }}
				{{ form_widget(form.commentaire) }}
			</div>

			{{ form_widget(form.ordre) }}

			{% set arbres_list = ['Domination', 'Inspiration', 'Precision', 'Resolve', 'Sorcery'] %}

			{% for arbre_name in arbres_list %}
				<div id="{{ form.vars.id ~ '_' ~ arbre_name }}">
					{{ form_widget(attribute(form, arbre_name).typeArbre) }}
					<img class="arbre" data-name="{{ arbre_name }}" style="width: 40px; height: auto" src="{{ img_url }}/{{ runes_data[arbre_name].icon }}.webp" alt="{{ runes_data[arbre_name].name }}">{{ runes_data[arbre_name].name }}
					<div class="runes-options" style="display: none">
						{% for arbre in attribute(form, arbre_name) %}
							{% if loop.index0 > 0 %}
								<div>
									{% if "Secondary" in arbre.vars.name %}
										{% set number = arbre.vars.name|slice(-1) %}
									{% else %}
										{% set number = arbre.vars.name %}
									{% endif %}


									{% for rune in arbre %}
										{{ form_widget(rune, {'id': rune.vars.id}) }}
										<label for="{{ rune.vars.id }}">
											<img style="width: 40px; height: auto" src="{{ img_url }}/{{ runes_data[arbre_name].slots[number].runes[loop.index0].icon }}.webp" alt="{{ runes_data[arbre_name].slots[number].runes[loop.index0].name }}">
										</label>
									{% endfor %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endfor %}

			{# Options pour les lignes de bonus #}
			<div class="bonus-lines">
				{% for line in 1..3 %}
					<div class="bonus-line">
						{{ form_label(attribute(form, 'bonusLine' ~ line)) }}
						<div>
							{{ form_widget(attribute(form, 'bonusLine' ~ line)) }}
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
		<i class="fa-regular fa-trash-can supprimer-groupe"></i>
	</div>

{% endif %}
