{% extends 'base.html.twig' %}

{% block title %}Liste des Guides
{% endblock %}

{% block keyword %}League of Legends,Guide,Guides,Strategie,Strategie,LoL,League of Legends Guides,LoL Guides,Champion Guides,Champion Guides,LoL Champions,League of Legends Champion Strategie,League of Legends Champion Guides
{% endblock %}
{% block meta %}Trouvez le Guide du Champion de League of Legends qui vous convient. Que vous soyez débutant ou vétéran, commencez dès aujourd'hui et transformez votre façon de jouer ! Découvrez et discutez des meilleures tactiques d'équipe, stratégies individuelle.
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/guide-list.css') }}">
{% endblock %}
{% block body %}

	<div class="wrapper-recherche-guide">

		<div class="content-page">


			<div class="content-guide-list left-col">

				<h1>Liste des Guides</h1>

				{{ form_start(filtre_form, {'attr': {'id': 'form-guide-filter'}}) }}
					<div class="div-search-filter">
						<input type="search" id="guide-filtre-champion" class="input-champion-search" placeholder="Recherche un champion..." autocomplete="off">
						<a href="{{ path('app_champions') }}">Voir les champions >></a>
						<span id="clear-champion-btn">Effacer</span>
						<span id="clear-btn">Effacer tout</span>
						<span class="search-result"></span>
					</div>
					<div>
						<div class="choix-role" id="guide_filtre_role">
							{% for choice in filtre_form.role %}
								<input type="radio" id="{{ choice.vars.id }}" name="{{ choice.vars.full_name }}" value="{{ choice.vars.value }}" {{ choice.vars.checked ? ' checked' : '' }}>
								<label for="{{ choice.vars.id }}">
									<img src="/img/role/{{ choice.vars.label }}.webp" alt="{{ choice.vars.label }}">
									{{ choice.vars.label }}
								</label>
							{% endfor %}
							{{ form_errors(filtre_form.role)}}
						</div>
					</div>
					{{ form_widget(filtre_form.champion) }}
					{{ form_widget(filtre_form._token) }}
				</form>

				<div class="listing-guide">
					{% for guide in guides %}
						<a class="listing-item" href="/guide/{{ guide[0].id }}">
							<div class="note-guide">
								<span>
									{% if guide.moyenne is not null %}
										{{ guide.moyenne }}
									{% else %}
										<i class="fa-solid fa-spinner" style="color: #ffffff;"></i>
									{% endif %}
								</span>
							</div>
							<div class="champion-guide">
								<img src="{{ img_url }}/champion/{{ guide[0].champion.id }}.png.webp" alt="{{ guide[0].champion }}">
							</div>
							<div class="infos-guide">
								<h2 class="titre-guide">
									<img src="{{ img_url }}/role/{{ guide[0].voie }}.webp" alt="Rôle {{ guide[0].voie }}">
									{{ guide[0].titre }}
								</h2>
								<span class="user-infos">
									Guide créé par
									{{ guide[0].user }}
									{{ guide[0].modifiedAt ? ('modifié le ' ~ guide[0].modifiedAt|date("m/d/Y")) : ('créé le ' ~ guide[0].createdAt|date("m/d/Y")) }}
								</span>
							</div>
						</a>
					{% endfor %}

				</div>
				{{ knp_pagination_render(guides) }}

			</div>

			<div class="right-col">
				<div>test</div>
				<div>test</div>
				<div>test</div>
				<div>test</div>
			</div>

		</div>

	</div>

	<script>
		var url = {{ img_url|json_encode|raw }};
	</script>
	<script src="{{ asset('js/searchChampionsFilter.js') }}"></script>
{% endblock %}
