{% extends 'base.html.twig' %}

{% block title %}Liste des Guides
{% endblock %}

{% block keyword %}League of Legends,Guide,Guides,Strategie,Strategie,LoL,League of Legends Guides,LoL Guides,Champion Guides,Champion Guides,LoL Champions,League of Legends Champion Strategie,League of Legends Champion Guides
{% endblock %}
{% block meta %}Trouvez le Guide du Champion de League of Legends qui vous convient. Que vous soyez débutant ou vétéran, commencez dès aujourd'hui et transformez votre façon de jouer ! Découvrez et discutez des meilleures tactiques d'équipe, stratégies individuelle.
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/guide-list.css') }}">
{% endblock %}
{% block body %}

	<div class="wrapper-recherche-guide">

		<div class="content-page">


			<div class="content-guide-list left-col">

				<h1>Liste des Guides</h1>

				{{ form_start(filtre_form, {'attr': {'id': 'form-guide-filter'}}) }}
				<div class="div-search-filter">
					<input type="search" id="guide-filtre-champion" class="input-champion-search" placeholder="Recherche un champion..." autocomplete="off">
					<a href="{{ path('app_champions') }}">Voir les champions >></a>
					<span id="clear-champion-btn">Effacer</span>
					<span id="clear-btn">Effacer tout</span>
					<span class="search-result"></span>
				</div>
				<div>
					{{ form_row(filtre_form.role) }}
				</div>
				{{ form_widget(filtre_form.champion) }}
				{{ form_end(filtre_form) }}

				<div class="listing-guide">
					{% for guide in guides %}
						<a class="listing-item" href="/guide/{{ guide.id }}">
							<div class="note-guide">
								<span>
									{% if moyenne[guide.id] is defined %}
										{{ moyenne[guide.id]['moyenne'] }}
									{% else %}
										<i class="fa-solid fa-spinner" style="color: #ffffff;"></i>
									{% endif %}
								</span>
							</div>
							<div class="champion-guide">
								<img src="{{ img_url }}/champion/{{ guide.champion.id }}.png.webp" alt="{{ guide.champion }}">
							</div>
							<div class="infos-guide">
								<h2 class="titre-guide">
									<img src="{{ img_url }}/role/{{ guide.voie }}.webp" alt="">
									{{ guide.titre }}
								</h2>
								<span class="user-infos">
									Guide créé par
									{{ guide.user }}
									{{ guide.modifiedAt ? ('modifié le ' ~ guide.modifiedAt|date("m/d/Y")) : ('créé le ' ~ guide.createdAt|date("m/d/Y")) }}
								</span>
							</div>
						</a>
					{% endfor %}

				</div>
				{{ knp_pagination_render(guides) }}

			</div>

			<div class="right-col">
				<div>test</div>
				<div>test</div>
				<div>test</div>
				<div>test</div>
			</div>

		</div>

	</div>

	<script>
		var url = {{ img_url|json_encode|raw }};
	</script>
	<script src="{{ asset('js/searchChampionsFilter.js') }}"></script>
{% endblock %}
