{{ knp_pagination_render(evaluations) }}
{% if evaluations %}
	{% for evaluation in evaluations %}
		<div class="commentaire">
			<img src="https://storage.googleapis.com/lol_guides/lol_guides_user_avatar/{{ evaluation.user ? evaluation.user.avatar :'Anonyme.webp' }}" alt="Avatar de {{ evaluation.user ? evaluation.user.pseudo :'Anonyme' }}" class="avatar">
			<div class="commentaire-details">
				<div class="flex">
					<div class="pseudo">{{ evaluation.user ? evaluation.user.pseudo :'Anonyme' }}</div>
					|
					<div class="date">{{ evaluation.createdAt|date('d F Y à H:\i') }}</div>
				</div>
				<div class="texte">{{ evaluation.commentaire }}</div>
			</div>
		</div>
	{% endfor %}
{% else %}
	<div>Pas de commentaire</div>
{% endif %}
{{ knp_pagination_render(evaluations) }}